In [1]:
# imports
import pandas as pd

import fxcmpy

In [2]:
TOKEN = "6bcb809cd84d12119c60208707f68be34de8cd39"
api = fxcmpy.fxcmpy(access_token=TOKEN, log_level="error")

<h2> Subscribing to Data Streams </h2>

To stream data we use the subscribe_market_data function. We can give this a callback function to process the data as it comes in. The callback function needs two arguments, 'data' which processes the current incoming line of data and 'dataframe' which stores previously streamed data. Here we simply print the data.

In [3]:
def output(data, dataframe):
    print('%3d | %s | %s | %6.5f, %6.5f'
          % (len(dataframe), data['Symbol'],
            pd.to_datetime(int(data['Updated']), unit='ms'),
            data['Rates'][0], data['Rates'][1]))

In [4]:
symbol = 'EUR/USD'

In [5]:
api.subscribe_market_data(symbol, (output,))

In [6]:
api.get_last_price(symbol)

Bid     1.17665
Ask     1.17761
High    1.17871
Low     1.17538
Name: 2021-07-23 20:59:01.507000, dtype: float64

In [7]:
api.unsubscribe_market_data(symbol)

<h2> Placing Orders </h2>
Below we create buy and sell orders for EUR/USD snd GBP/USD. At each stage we check our open positions. At the end we show how to close positions based on symbol or how to simply close all positions.

In [8]:
api.get_open_positions()

Empty DataFrame
Columns: []
Index: []

In [9]:
order = api.create_market_buy_order(symbol, 1)
order = api.create_market_buy_order('GBP/USD', 2)

In [10]:
sel = ['tradeId', 'amountK', 'currency', 'grossPL', 'isBuy']

In [11]:
api.get_open_positions()[sel]

     tradeId  amountK currency  grossPL  isBuy
0  121043613        1  EUR/USD -0.69814   True
1  121043614        1  GBP/USD -1.30987   True

In [12]:
order = api.create_market_sell_order(symbol, 1)

In [13]:
api.get_open_positions()[sel]

     tradeId  amountK currency  grossPL  isBuy
0  121043613        1  EUR/USD -0.69814   True
1  121043614        1  GBP/USD -1.30987   True
2  121043615        1  EUR/USD -0.69814  False

In [14]:
api.close_all_for_symbol(symbol)

In [15]:
api.get_open_positions()[sel]

     tradeId  amountK currency  grossPL  isBuy
0  121043614        1  GBP/USD -1.30987   True

In [16]:
api.close_all()

In [17]:
api.get_open_positions()

,t,ratePrecision,tradeId,accountName,accountId,roll,com,open,valueDate,grossPL,...,usedMargin,orderId,OpenOrderRequestTXT,OpenOrderReqID,TradeIDOrigin,child_trailingStop,child_trailing,stop,stopMove,limit
0,1,5,121043614,00856873,856873,0,0,1.37598,,-1.30987,...,16.65,214137933,None,Request-196067,None,none,-1,0,0,0

The function below displays useful information for your accounts.

In [18]:
api.get_accounts().T

                          0
t                         6
ratePrecision             0
accountId            856873
balance            49993.18
usdMr                     0
mc                        N
mcDate
accountName        00856873
usdMr3                    0
hedging                   Y
usableMargin3      49993.18
usableMarginPerc        100
usableMargin3Perc       100
equity             49993.18
usableMargin       49993.18
bus                    1000
dayPL                 -6.82
grossPL                   0